<%= render "shared/header" %>
<div class='main'>
  <div class='item-contents'>
    
    
    <div class="contents row">
      <% @items.each do |item| %>
        <%= render partial: "item", locals: { item: item } %>
      <% end %>
    </div>
    
    </div>
    <div class='purchase-btn'>
      <span class='purchase-btn-text'>出品する</span>
      <% if user_signed_in? %>
      <a href="/items/new/">
      <% else %>
      <a href="/users/sign_in/">
      <% end %>
        <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
      </a>
  </div>
</div>
<%= render "shared/footer" %>
